/* Lists of stories */

.stories-list {
  margin: 20px 5px;
  list-style-position: outside;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  border-bottom: 1px solid rgba(194, 194, 194, 0.658);
  padding: 10px;
  position: relative;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

div.story-details {
  display: inline-block;
  margin-left: 40px;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin: 6px 0px;
}

.story-link:hover {
  text-decoration: none;
  color: blue;
}

.story-author {
  margin: 10px 0px;
  display: block;
  font-size: 1rem;
  color: green;
  font-weight: 700;
}

.story-user {
  display: inline-block;
  /* margin: 6px 2px; */
  color: orange;
  font-size: 1rem;
  font-weight: 700;
}

.favorite-star {
  display: inline-block;
  margin: 3px 5px;
  position:absolute;
  top: 45%;
}
.delete-btn {
  position: absolute;
  right: 60px;
  top: 45%;
}
